@import "@/styles/variables";

.btn {
    height: 46px;
    width: 46px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    border-radius: 50%;

    &[data-variant="close"] {
        min-width: 46px;
    }

    &[data-color="black"] {
        background-color: $black;
        color: $blue1;
        font-size: 44px;
        align-items: self-end;
    }

    &[data-color="white"] {
        position: absolute;
        right: 0;
    }

    &[data-variant="order"] {
        font-size: 24px;
        width: 32px;
    }
}

@media(min-width: $breakpoint-tablet) {
    .btn {

        &[data-variant="close"] {
            height: 38px;
            min-width: unset;
            width: 38px;
            align-items: baseline;
            font-size: 28px;
        }

        &[data-variant="order"] {
                font-size: 12px;
            
        }

        &[data-color="black"] {
            background-color: $black;
            color: $white;
            font-size: 28px;
        }
    }
}